<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="." role="form">
    	{% csrf_token %}
        <input id="id_username" type="text" placeholder="username" name="username"/>
        <input id="id_password" type="password" placeholder="password" name="password"/>
        <a href="{% url 'first_view' %}"><button type='submit' class="center">Login</button></a>
         <br><br>
	</form>
</body>
</html>