<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First view page</title>
</head>
<body>
    <h1>Project lulz </h1>
    <h3>Authored by: {{name}} </h3>
    <h3>Logged in as : {{logged_in_as}}</h3>
    {% if logged_in_as == "Teacher" %}
        <h3>The courses taught by you are:</h3>
        <h4>ID &nbsp; Name &nbsp; Credits</h4>
        {% for course in courses %} 
            <!--  -->
            {% for value in course %}
                <p>{{value.course_id}}  &nbsp; {{value.course_name}} &nbsp; {{value.credits}}</p>
                {% endfor %}
            
        {% endfor %}
    {% elif logged_in_as == "Student" %}
        <h3>Courses enrolled in by you are:</h3>
        <h4>ID &nbsp; Name &nbsp; Credits</h4>
        {% for course in courses %} 
            <!--  -->
            {% for value in course %}
                <p>{{value.course_id}}  &nbsp; {{value.course_name}} &nbsp; {{value.credits}}</p>
                {% endfor %}
            
        {% endfor %}
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>